<ion-header>
  <ion-toolbar>
    <ion-title>
      Pothole List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card  *ngFor="let pothole of potholes; index as position">
    <ion-card-header color="light">
      <ion-item color="light" lines="none">
          <img [src]=pothole.url>
      </ion-item>
    </ion-card-header>
    <ion-card-content class="ion-margin-top">
      <p>Latitude: {{ pothole.latitude }}</p>
      <p>Longitude: {{ pothole.longitude }}</p>
      <p>Pothole Prediction: {{ pothole.potholeprediction }}</p>      
    </ion-card-content>
  </ion-card>
  
</ion-content>
